name: test-action-blocked
on:
  push:
  workflow_dispatch:
  schedule:
    - cron: "30 8 * * *"

jobs:
  test-action-blocked:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Pull Docker image
        run: docker image pull techallylw/vulnerable-container:v0.0.1

      - name: Build lw-scanner action container image
        uses: docker/build-push-action@v3
        with:
          context: .
          load: true
          push: false
          tags: ${{ github.repository }}:latest

      - name: lw-scanner
        id: lw-scanner
        uses: ./
        continue-on-error: true
        with:
          LW_ACCOUNT_NAME: ${{ secrets.LW_ACCOUNT_NAME }}
          LW_ACCESS_TOKEN: ${{ secrets.LW_ACCESS_TOKEN_POLICY }}
          IMAGE_NAME: techallylw/vulnerable-container
          IMAGE_TAG: v0.0.1

      - name: Check if step did fail as expected based on policy.
        if: steps.lw-scanner.outcome != 'failure'
        run: exit 1
