name: test-action
on:
  push:
    branches:
    - main

jobs:
  test-action:
    runs-on: ubuntu-latest
    env:
      LW_ACCESS_TOKEN: ${{ secrets.LW_ACCESS_TOKEN }}
      LW_ACCOUNT_NAME: ${{ secrets.LW_ACCOUNT_NAME }}

    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Pull Docker image
        run: docker image pull node:12.18.2-alpine

      - name: lw-scanner
        uses: timarenz/lw-scanner-action@main
        with:
          image_name: nodegoat
          image_tag: 12.18.2-alpine
          fail_if_critical_vulnerabilities_found: false
          fail_if_high_vulnerabilities_found: false
          fail_if_medium_vulnerabilities_found: false
          fail_if_low_vulnerabilities_found: false
          fail_if_info_vulnerabilities_found: false
          fail_only_if_vulnerabilities_fixable: false