name: test-action-failure-critical
on: [push, workflow_dispatch]

jobs:
  test-action-failure-critical:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2

      - name: Pull Docker image
        run: docker image pull ghcr.io/timarenz/vulnerable-container:v0.0.1

      - name: lw-scanner
        id: lw-scanner
        uses: ./
        continue-on-error: true
        with:
          LW_ACCOUNT_NAME: ${{ secrets.LW_ACCOUNT_NAME }}
          LW_ACCESS_TOKEN: ${{ secrets.LW_ACCESS_TOKEN }}
          IMAGE_NAME: ghcr.io/timarenz/vulnerable-container
          IMAGE_TAG: v0.0.1
          SCAN_LIBRARY_PACKAGES: false
          FAIL_BUILD: false

      - name: Check if vulnerabilites were found and step failed.
        if: steps.lw-scanner.outcome == 'failure'
        run: echo "Vulnerabilities found and step failed succesfully." && exit 0
